body {
    background-color: white;
}
header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 10px;
    box-shadow: 0 0 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo img {
    width: 90px;
    margin-left: -100px;
  }
  
  .menu {
    font-size: 24px;
  }
  .menu a {
    color: black;
    text-decoration: none;
  
    padding: 30px 30px 27px 30px;
  }
  
  .menu a:hover {
    background-color: #e0e0e0;
  }
  .menu1 {
    margin-right: -100px;
  }
  .menu1 i {
    padding: 15px;
  }
  .menu1 i:hover {
    background-color: #e0e0e0;
  }

  footer {
    background-color: black;
  }
  .end {
    display: flex;
    justify-content: space-around;
    
  }
  
  .end h4 {
    color: #e0e0e0;
  }
  .end p {
    color: #bebebe;
  }
  .end p:hover {
    color: #e0e0e0;
  }
  .end1 {
    display: flex;
    
    
  }
  .end1 nav {
    padding: 0 80px 0 0;
    
  }
  .icon {
    font-size: 35px;
   margin-top: 30px;
   margin-right: -100px;
  }
  .icon a{
    color: #bebebe;
    justify-content: center;
    text-align: center;
  }
  /* ----------------------------------------- */

  .section {
    background-color: white;
    margin-bottom: 200px;
    margin-top: 150px;
  }
  
  .product-list {
    display: flex;
    
    justify-content: space-between;

    margin-top: 100px;
  }
  .product-item {
    display: flex;
    
    flex-wrap: wrap;
  margin-right: -200px;
  margin-left: 100px;
  }
  .item {
      margin: 10px 10px 10px 10px;
  }
  .item img {
      
      width: 400px;
    height: 450px;
    
  }
  
  .item2 {
    width: 600px;
    justify-content: center;
    text-align: left;
    margin-left: -100px;
  }
  .item2 h1 {
    font-size: 40px;
  }
  .item2 p {
    font-size: 25px;
    
  }
  .item2 p {
    font-size: 24px;
  }

  .buy {
    display: block;
    background: black;
    font-size: 18px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 16px;
    border-radius: 4px;
    width: 50%;
    align-items: center;
    text-decoration: none;
  }
  .buy:hover {
      background-color: rgb(95, 95, 95);
  }
  .size {
    display: flex;
    flex-wrap: wrap; 
    text-align: center; 
    
    margin-top: 30px;  
  }
  
  .size span {
   
  
    width: 120px;
    height: 45px;
    font-size: 18px;
    
    margin:0 10px 10px 0px;
    border: #d6d6d6 solid 2px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    padding: 20px 0 0 0;
    
  }
  .size span:hover {
    border: black solid 2px;
  }

  

  
  /* ---------------- login ----------------- */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color:white;
  color: black;
  /* padding: 14px 20px; */
  /* margin: 8px 0; */
  border: none;
  cursor: pointer;
  width: 100%;
}
.btnlogin {
  background-color: #e0e0e0;
  font-size: 24px;
   padding: 14px 20px; 
   margin: 8px 0;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color:  #e0e0e0;
  font-size: 20px;
}
.remember input{
  margin-top: 20px;
 

}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 25%;
  border-radius: 30%;
}

.container {
 
  padding: 16px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}

span.psw {
  float: right;
  padding-top: 16px;
  
}
.psw a {
  text-decoration: none;
  color: black;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100% ; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
 
  margin-right: -500px;
}

/* Modal Content/Box */
.modal-content {
  background-color: whitesmoke;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 420px;
  height: 560px; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
     
  }
  .psw a{ 
    text-decoration: none;

  }
  .cancelbtn {
     width: 100%;
  }
}
  /* ------------------------ */
 
  
  
  